# Tuples

In [11]:
# We can add - Lists in Tuples, Tuples in Tuples, Sets in Tuples & Dictionaries in Tuples

T1=(1,2,3,4,[1,2,3])
print(T1)

T2=(1,2,3,(1,2,3))
print(T2)

T3=(1,2,3,{1,2,3})
print(T3)

T4=(1,2,3,{'sub':'Maths', 'marks':30})
print(T4)

(1, 2, 3, 4, [1, 2, 3])
(1, 2, 3, (1, 2, 3))
(1, 2, 3, {1, 2, 3})
(1, 2, 3, {'sub': 'Maths', 'marks': 30})

### Creating Tuples

In [1]:
# Empty Tuple
t1=()
print(t1)
print(" ")

# Creating a tuple with a single item
# To create a tuple with single element we place comma at the end of the element otherwise it will be a data type 
t4=('hello', )
print(t4)
print(type(t4))
print(" ")

# We can add list in tuple
t4=(1,2.5,True,[1,2,3])
print(t4)
print(" ")

# We can add tuple in tuple
t5=(1,2,3,(4,5))
print(t5)
print(" ")

# using type conversion
t6=tuple('hello')
print(t6)

()

('hello',)
<class 'tuple'>

(1, 2.5, True, [1, 2, 3])

(1, 2, 3, (4, 5))

('h', 'e', 'l', 'l', 'o')

### Accessing Items

In [2]:
# Indexing
t3=(1,2,3,4,5,(6,7,8))
print(t3)
print(t3[0])
print(t3[-1][1])
print(" ")

# Slicing
t=(1,2,3,4,5)
t[-1:-4:-1]

(1, 2, 3, 4, 5, (6, 7, 8))
1
7

(5, 4, 3)

### Mathematical Operations on Tuples

In [3]:
# Arithmetic operations --> + and *
t1=(1,2,3,4)
t2=(5,6,7,8)
print(t1 + t2)
print(t1*3)
print(" ")

# Membership operation
t1=(2,3,4)
print(t1)
1 in t1
print(" ")

# Loops
t1=(1,2,3,4,55,666,77777)
for i in t1:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

(2, 3, 4)

1
2
3
4
55
666
77777

### Tuple Functions

In [4]:
# len/sum/min/max/sorted
t = (1,2,3,4)

print(len(t))
print(sum(t))
print(min(t))
print(max(t))
sorted(t,reverse=True)
print(" ")

# count
t = (1,2,3,4,5,3)
t.count(3)

# Tuple unpacking --> Storing all the tuple elements in the variables at once
a,b,c = (1,2,3)
print(a,b,c)
print(b)

4
10
1
4

1 2 3
2

In [5]:
# zip function
a = (1,2,3,4)
b = (5,6,7,8)

tuple(zip(a,b))
print([i+j for i,j in zip(a,b)])

[6, 8, 10, 12]

### Difference between Lists and Tuples

- Syntax
- Mutability
- Speed
- Memory
- Built in functionality
- Error prone
- Usability

# Sets

In [17]:
# We can add - Tuples in Sets 

T={(1,2,3),1,2,3}
print(T)

{1, 2, 3, (1, 2, 3)}

### Creating Sets

In [6]:
# Empty set
s={} # This is a empty dictionary
s=set()
print(s)
print(" ")

# 1D
s1={1,2,3}
print(s1)
print(" ")

# 2D
# Cannot add set in set because it is mutable
# Cannot add list in set because it is mutable

# Can add tuple in a set because it is immutable
s2={1,2,2,3,4,5,6,(1,2,3)}
print(s2)
print(" ")

# using type conversion
s4=set([1,2,3])
print(s4)
print(" ")

s5={1,2,3,4,1,2}
print(s5)

set()

{1, 2, 3}

{1, 2, 3, 4, 5, 6, (1, 2, 3)}

{1, 2, 3}

{1, 2, 3, 4}

In [10]:
# Sets are unordered so if the elements in the two sets are same then they are treated as equal
s1={1,2,3}
s2={3,2,1}
print(s1==s2)

True

### Adding Items

In [11]:
# Add --> Can add single element at a time
S={1,2,3,4}
S.add(5)
print(S)

# update --> Can add multiple element at a time
S.update([5,6,7])
print(S)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7}

### Deleting Items

In [12]:
s={1,2,3,4,5}

# discard --> Returns the same set(no error is shown) if the number does'nt exist.
s.discard(5)
print(s)

# remove --> Returns error if number does'nt exist.
s.remove(4)
print(s)

# pop --> pop all the elements excepts the 1st element.
s={1,2,3,4,5}
s.pop()

# clear --> Clear all the items from the set
s.clear()
print(s)

{1, 2, 3, 4}
{1, 2, 3}
set()

### Set Methametical Operation

In [13]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}

# Union --> Addition
print(s1 | s2)
print(" ")

# Intersection(&) --> print common elements from both the sets
print(s1 & s2)
print(" ")

# Difference(-) --> prints difference
print(s1 - s2)
print(s2 - s1)
print(" ")

# Symmetric Difference(^) --> print unique elements from both the sets
print(s1 ^ s2)
print(" ")

# Membership operators
print(1 not in s1)
print(8 in s2)
print(" ")

# Loops
for i in s1:
  print(i)

{1, 2, 3, 4, 5, 6, 7, 8}

{4, 5}

{1, 2, 3}
{8, 6, 7}

{1, 2, 3, 6, 7, 8}

False
True

1
2
3
4
5

### Set Functions

In [14]:
# len/sum/min/max/sorted
s={3,1,4,5,2,7}
print(len(s))
print(sum(s))
print(min(s))
print(max(s))
print(sorted(s,reverse=True))
print(" ")

s1={1,2,3,4,5}
s2={4,5,6,7,8}

# union
print(s1.union(s2))
print(" ")

# intersection/intersection_update
print(s1.intersection(s2))
s1.intersection_update(s2) # This will store the intersection result of s1 & s2 in s1
print(s1)
print(" ")

# difference/difference_update
s1={1,2,3,4,5}
s2={4,5,6,7,8}

print(s1.difference(s2))
s1.difference_update(s2) # This will store the difference result of s1 & s2 in s1
print(s1)
print(" ")

# symmetric_difference/symmetric_difference_update
s1={1,2,3,4,5}
s2={4,5,6,7,8}

s1.symmetric_difference_update(s2) # This will store the symmetric result of s1 & s2 in s1
print(s1)
print(" ")

# isdisjoint --> The set which has no similar elements to other set
s1={1,2,3,4}
s2={7,8,5,6}
s1.isdisjoint(s2)
print(" ")

# issuperset --> The set which contains all the elements of the other set
s1={1,2,3,4,5}
s2={3,4,5}
s1.issuperset(s2)
print(" ")

# issubset --> The set which has a superset
s1={1,2,3,4,5}
s2={3,4,5}
s2.issubset(s1)
print(" ")

# copy
s1={1,2,3}
s2=s1.copy()
print(s1)
print(s2)

6
22
1
7
[7, 5, 4, 3, 2, 1]

{1, 2, 3, 4, 5, 6, 7, 8}

{4, 5}
{4, 5}

{1, 2, 3}
{1, 2, 3}

{1, 2, 3, 6, 7, 8}




{1, 2, 3}
{1, 2, 3}

### Frozenset
Frozen set is just an immutable version of a Python set object

In [15]:
# create frozenset
fs1=frozenset([1,2,3])
fs2=frozenset([3,4,5])
print(fs1 | fs2)

# We use frozenset when we have to perform only read operations.
# 2D sets
fs=frozenset([1,2,frozenset([3,4])])
print(fs)

frozenset({1, 2, 3, 4, 5})
frozenset({frozenset({3, 4}), 1, 2})

### Set Comprehension

In [16]:
{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

# Dictionary

### Create Dictionary

In [17]:
# Empty dictionary
d={}
print(d)
print(" ")

# 1D dictionary
d1={'name' : 'Divyang' ,'gender' : 'male' }
print(d1)
print(" ")

# with mixed keys
d2={(1,2,3):1,'hello':'world'}
print(d2)
print(" ")

# 2D dictionary -> JSON
s={'name':'Divyang', 'college':'PIET', 'sem':7, 'subjects':{'dsa':50, 'maths':67, 'english':34}}
print(s)
print(" ")

# using sequence and dict function
d4=dict([('name','Divyang'),('age',21),(3,3)])
print(d4)
print(" ")

# duplicate keys
d5={'name':'Divyang','name':'rahul'}
print(d5)

{}

{'name': 'Divyang', 'gender': 'male'}

{(1, 2, 3): 1, 'hello': 'world'}

{'name': 'Divyang', 'college': 'PIET', 'sem': 7, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}

{'name': 'Divyang', 'age': 21, 3: 3}

{'name': 'rahul'}

### Accessing items

In [18]:
# Accessing values in 1-D dictionary
my_dict={'name': 'Div', 'age': 22}
print(my_dict['age'])
print(my_dict.get('name'))
print(" ")

# Accessing values in 2-D dictionary
s={'name':'Divyang', 'college':'PIET', 'sem':7, 'subjects':{'dsa':50, 'maths':67, 'english':34}}
print(s['subjects']['maths'])
print(s['subjects'])

22
Div

67
{'dsa': 50, 'maths': 67, 'english': 34}

### Addition & Deletion of key-value pair

In [19]:
# Addition
d4=dict([('name','Divyang'),('age',21),(3,3)])
d4['gender']='male'
print(d4)

d4['weight']=72
print(d4)
print(" ")

# pop
d={'name': 'Div', 'age': 21, 3: 3, 'gender': 'male', 'weight': 72}
d.pop('gender')
print(d)

d.popitem()
print(d)

# del
del d['name']
print(d)

# clear
d.clear()
print(d)

{'name': 'Divyang', 'age': 21, 3: 3, 'gender': 'male'}
{'name': 'Divyang', 'age': 21, 3: 3, 'gender': 'male', 'weight': 72}

{'name': 'Div', 'age': 21, 3: 3, 'weight': 72}
{'name': 'Div', 'age': 21, 3: 3}
{'age': 21, 3: 3}
{}

### Loops & Membership operators

In [20]:
d={'name':'Div','gender':'male','age':33}
for i in d:
    print(i, ':' ,d[i])

name : Div
gender : male
age : 33

### Dictionary Functions

In [21]:
d={'name':'Div','gender':'male','age':33}

# len/sorted/max/min
print(len(d))
print(sorted(d,reverse=True))
print(max(d))
print(min(d))
print(" ")

# items/keys/values
print(d.items())
print(d.keys())
print(d.values())
print(" ")

# update
d1={1:2,3:4,4:5}
d2={4:7,6:8}
d1.update(d2)
print(d1)

3
['name', 'gender', 'age']
name
age

dict_items([('name', 'Div'), ('gender', 'male'), ('age', 33)])
dict_keys(['name', 'gender', 'age'])
dict_values(['Div', 'male', 33])

{1: 2, 3: 4, 4: 7, 6: 8}

# Dictionary Comprehension

In [22]:
# print 1st 10 numbers and their squares
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [23]:
distances={'delhi':1000,'mumbai':2000,'bangalore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [24]:
# using existing dict
distances={'delhi':1000,'mumbai':2000,'bangalore':3000}
{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 1860.0}

In [25]:
# using zip
days=["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C=[30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [26]:
# using if condition
products={'phone':10,'laptop':0,'charger':32,'tablet':0}
{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [27]:
# Nested Comprehension
# print tables of number from 2 to 4
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [28]:
{
    2:{1:2,2:4,3:6,4:8},
    3:{1:3,2:6,3:9,4:12},
    4:{1:4,2:8,3:12,4:16}
}

{2: {1: 2, 2: 4, 3: 6, 4: 8},
 3: {1: 3, 2: 6, 3: 9, 4: 12},
 4: {1: 4, 2: 8, 3: 12, 4: 16}}